[user]
	name = Leo Qiao
	email = qiaofeitong@hotmail.com
	username = LeoQiao18
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
